<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="messageInput" class="container">
        <h1>Chat with the Bot</h1>
        <div class="chat-box" id="chat-box">
            <div class="message bot-message">Hello! How can I assist you today?</div>
        </div>
        <input type="text" id="user-input" placeholder="Type a message...">
        <button id="send-button">Send</button>
    </div>

    <script>
        function handlesending(){
            const userInput = document.getElementById("user-input").value;
            const chatBox = document.getElementById("chat-box");
            
            const userMessageDiv = document.createElement("div");
            userMessageDiv.classList.add("message", "user-message");
            userMessageDiv.textContent = userInput;
            chatBox.appendChild(userMessageDiv);
            fetch(`/get?msg=${encodeURIComponent(userInput)}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const botMessageDiv = document.createElement("div");
                botMessageDiv.classList.add("message", "bot-message");
                botMessageDiv.textContent = "";

                const pattern = /https:\/\/images-na\.ssl-images-amazon\.com[^\s]+/;
                const match = data.response.match(pattern);
                const textContentWithoutImage = data.response.replace(pattern, "").trim();
                if (textContentWithoutImage) {
                    botMessageDiv.appendChild(document.createTextNode(textContentWithoutImage));
                }
                if (match) {
                    const imageElement = document.createElement("img");
                    imageElement.src = match[0]; 
                    imageElement.alt = "Image";  
                
                    botMessageDiv.appendChild(imageElement);
                }

                chatBox.appendChild(botMessageDiv);
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
            
            document.getElementById("user-input").value = "";
        }
        document.getElementById("messageInput").addEventListener("keydown", function(event) {
            if (event.keyCode === 13 && !event.shiftKey) { 
                event.preventDefault();
                handlesending()
            }
        });
        document.getElementById("send-button").addEventListener("click", function() {
            handlesending()
        });
    </script>
</body>
</html>
